<%- include('header') -%>

<h1>Viðburða&shy; umsjón</h1>

<h2>Viðburðir á&shy; næstunni</h2>

<ol>
    <ul>
        <a href="forritara.ejs">Forritarahittingur í febrúar</a>
        Forritarar hittast í febrúar og forrita saman eitthvað frábært.
        Uppfæra viðburð
    </ul>
    <ul>
        <a href="honnuda.ejs">Hönnuðahittingur í mars</a>
        <h3>Spennandi hittingur hönnuða í Hönnunarmars.</h3>
        <h3>Uppfæra viðburð</h3>
    </ul>
    <ul>
        <a href="verkefna.ejs">Verkefnastjórnahittingur í apríl</a>
        <h3>Virkilega vel verkefnastýrður hittingur</h3>
        <h3>Uppfæra viðburð</h3>
    </ul>
</ol>


<h1>Nýr viðburður</h1>

<form method="post" action="/" enctype="application/x-www-form-urlencoded" class="form form--separated">

    <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
        <label for="name">Nafn*:</label>
        <input type="text" name="name" id="name" value="<%= formData.name %>" class="">
    </div>

    <div class="field field--textarea<%= locals.isInvalid('comment', errors) ?  ' field--invalid' : '' %>">
        <label for="comment">Lýsing*:</label>
        <textarea name="comment" id="comment"><%= formData.comment %></textarea>
    </div>

    <% if (errors.length > 0) { %>
        <h2 class="errors__title">Villur við undirskrift:</h2>
        <ul class="errors">
          <% errors.forEach((error) => { %>
            <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
          <% }); %>
        </ul>
      <% } %>
    
      <button class="button button--large button--margin">Skrá viðburð</button>
    </form>

    <%- include('footer') -%>
